<script type="text/javascript">var allTutors = {{{availTutorArray}}}</script>
<script type="text/javascript">var allSubjects = {{{availSubjArray}}}</script>
<!-- MAIN CONTENT -->
<div class="container">



<h2>Welcome Admin</h2>
<h4>Here are a list of pending tutor appointments.</h4>
<div>Pending appointments</div>
<h4>Update and delete tutors below:</h4>

  <div class="container-fluid searchResults">
      <div class="row tutorRow">
      

       {{#each availTutor}}
       
        <div class="container tutorThumbnailContainer col-xs-6 col-md-3 col-lg-3">
          <div class="thumbnail tutorThumbnail">
            <img src ="assets/img/tutor{{id}}.jpg"> 
            {{!-- <img src="http://placehold.it/500x500/EEE"> --}}
            <div class="tutorCaption CRUDCaption">
             
                
                <h4 class = "capitalize tutorName">{{firstName}}</h4>


    <form action="/admin/{{this.id}}?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-info btn-danger CRUDSubmit" data-toggle="modal" data-target="#myModal">Delete {{firstName}}</button>
    </form>

    <form action="/admin/{{id}}?_method=PUT" method="POST">
        <input type = "hidden" name = "available" value = "0">
          <button type="submit" class="btn btn-info btn-danger CRUDUpdate" data-toggle="modal" data-target="#myModal">Schedule Appointment</button>
    </form>

  <!-- <div class="row CRUDButtons">
      <div class="checkbox col-lg-12">
        <label>
          <input type="checkbox" data-value="deleteTutor"> Delete
        </label>
        <label class="CRUDCheck">
          <input type="checkbox" data-value="unavailabileTutor"> Unavailable
        </label>
      </div> 
   
   </div>--> <!-- CRUD buttons--> 


  <!-- <button type="submit" class="btn btn-info btn-danger CRUDSubmit">Update</button> -->

  {{!--   <form action="/admin/{{this.id}}?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-info btn-danger CRUDSubmit" data-toggle="modal" data-target="#myModal">Delete</button>
    </form>  --}}


  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">An update has occured.</h4>
      </div>
      <div class="modal-body">
        <p> <center> Thank you! Your update has been processed.</p> </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default closeMdlBtn" data-dismiss="modal">Close</button>
      </div>
    </div> <!-- close modal content  -->

  </div>
</div>
                
            </div> {{!-- end caption --}}

          </div>{{!--  endTutorThumbnail --}}

        </div> {{!-- end tutorThumbnailContainer --}}

      {{/each}}
  
      
      </div> <!-- close .tutorRow div  -->


      

  </div> {{!-- end searchResults --}}
  

<script src="assets/js/student.js"></script> 


</div> <!-- close container div  -->