<div class="container">
	<h2> Appointment Successfully Made! </h2>
	<!-- Bookings Made  -->

  	<div class="container-fluid searchResults">
      	<div class="row tutorRow">
      		<h4 class = "tutorHeader">Your Bookings</h4> 

       		{{#each user}}
       			{{#unless this.available}}
        			<div class="container tutorThumbnailContainer col-xs-6 col-md-3 col-lg-3">
          				<div class="thumbnail tutorThumbnail">
            				<img src ="assets/img/tutor{{this.id}}.jpg"> 
            				<div class="tutorCaption">
             					<h4 class = "capitalize tutorName">{{this.firstName}}</h4>
                				<p class = "text-center">{{this.about}}</p> 
					            <form action="/appointment/{{this.id}}?_method=PUT" method="POST">
					           		<input type = "hidden" name = "available" value = "1">
					            	<button type="submit" class="btn btn-info btn-danger text-center bookTutorBtn" data-toggle="modal" data-target="#myModal">Cancel booking with {{this.firstName}}</button>
					            </form>
					        </div>
					    </div>
					</div>
				{{/unless}}
			{{/each}}
		</div>
	</div>
</div>

                
                
            






