<script type="text/javascript">var allTutors = {{{availTutorArray}}}</script>
<script type="text/javascript">var allSubjects = {{{availSubjArray}}}</script>
<!-- MAIN CONTENT -->
<div class="container">
  
  <div class="jumbotron studentJumbotron">
    <h2>Want to find a tutor?</h2>
    <h4>Search by subject or tutor.</h4> 
  </div>

<!-- search buttons  -->

  <div class="row searchDropDowns">
      <!-- tutor search  -->

      <div class="form-group col-lg-4">
        <label class ="searchLabel" for="tutorValue">Tutor List:</label>
        <select class="form-control capitalize" id="sel1">
            <option class = "hi" value = 0></option>
            {{#each availTutor}}
            <option class = "hi" value = {{id}}>{{firstName}}</option>
            {{/each}}
        </select>
      </div>

      <!-- subject search  -->

      <div class="form-group col-lg-4">
        <label class ="searchLabel" for="tutorValue">Subject List:</label>
        <select class="form-control" id="sel2">
        <option class = "hi" value = 0></option>
            {{#each availSubject}}
              <option class = "hi" value = {{id}}>{{subjectName}}</option>
            {{/each}}
        </select>
      </div>

  </div> {{!-- end .searchDropDowns --}}

<!-- search results  -->
  <div class="container-fluid searchResults">
      <div class="row tutorRow">
        <h4 class = "tutorHeader">Our awesome tutors:</h4> 

       {{#each availTutor}}
        <div class="container tutorThumbnailContainer col-xs-6 col-md-3 col-lg-3">
          <div class="thumbnail tutorThumbnail">
            <img src ="assets/img/tutor{{id}}.jpg"> 
            
            <div class="tutorCaption">
                 
              <h4 class = "capitalize tutorName">{{firstName}}</h4>
              <p class = "text-center">{{about}}</p> 
              
              <form action="/student/{{id}}?_method=PUT" method="POST">
                <input type = "hidden" name = "available" value = "0">
                <button type="submit" class="btn btn-info btn-primary text-center bookTutorBtn" data-toggle="modal" data-target="#myModal">Book A Session With {{firstName}}</button>
              </form>
            
            </div> {{!-- end caption --}}

          </div>{{!--  endTutorThumbnail --}}

        </div> {{!-- end tutorThumbnailContainer --}}
      {{/each}}
      
      </div> <!-- close .tutorRow div  -->


      <!-- Modal -->
           <div class="modal fade" id = "myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Modal title</h4>
                </div>

                <div class="row">
                    <div class="modal-photo col-lg-3">
                    </div>
                    <div class = "col-lg-9 tutorModal">
                      <div class="modal-body">
                      </div>
                      <div class="modal-avail ">
                      </div>
                      <div class="modal-subj">
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-info btn-primary text-center bookTutorBtn" data-toggle="modal" data-target="#myModal">Schedule Appointment</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
  </div> {{!-- end searchResults --}}
  

<script src="assets/js/student.js"></script> 
<script src="assets/js/updateAvail.js"></script> 


</div> <!-- close container div  -->