<!-- MAIN CONTENT -->
<div class="container">

<!-- search buttons  -->
 <!-- search by subject -->
  <span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Search by Subject
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelled by="dropdownMenu1">
    {{#each availSubject}}
      <li><a href="#"> {{subjectName}}</a></li>
    {{/each}}
    </ul>

  </span> <!-- closes first dropdown span -->
 <!-- search by  -->
  <span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Search by Tutor
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelled by="dropdownMenu1">
      {{#each availTutor}}
        <li><a href="#"> {{firstName}}</a></li>
      {{/each}}
    </ul>
  </span> <!-- closes first dropdown div -->

<!-- search results  -->
  <div class="container-fluid searchResults">
      <div class="row">

       {{#each availTutor}}
        <div class="tutorThumbnailContainer col-xs-6 col-md-3 col-lg-2">
          <div class="thumbnail tutorThumbnail">
            <img src="http://placehold.it/500x500/EEE">
            <div class="caption">
             

                <h4 class = "capitalize tutorName">{{firstName}}</h4>
                <p>{{about}}</p> 
              

              <button type="button" class="btn btn-primary btn-xs bookTutor" data-toggle="modal" data-target="#myModal{{@index}}">
              Book this tutor! 
              </button>

              <!-- Modal -->
            <div class="modal fade" id="myModal{{@index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">
              Book a tutoring session with <span class="capitalize"> {{firstName}} {{lastName}}!</span> </h4>
            </div>
            <div class="modal-body">

              <div> <span class="capitalize"> {{firstName}} </span> is available at the following times: </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit request</button>
            </div>
            </div>
            </div>
            </div> <!--closes modal div -->
            
          </div>

        </div>

      </div>
      {{/each}}
  </div> <!-- close .searchResults div  -->

<script src="assets/js/rating.js"></script> 


</div> <!-- close container div  -->