<script type="text/javascript">var allTutors = {{{availTutorArray}}}</script>
<script type="text/javascript">var allSubjects = {{{availSubjArray}}}</script>
<!-- MAIN CONTENT -->
<div class="container">



<h2>Want to find a tutor?</h2>
<h4>Search by subject or tutor:</h4> 
<!-- search buttons  -->
<!-- tutor search  -->
<div class="row searchDropDowns">
    <div class="form-group col-lg-6">
      <label for="tutorValue">Tutor List:</label>
      <select class="form-control capitalize" id="sel1">
      <option class = "hi" value = 0></option>
          {{#each availTutor}}
            <option class = "hi" value = {{id}}>{{firstName}}</option>
          {{/each}}
      </select>
    </div>

    <!-- subject search  -->

    <div class="form-group col-lg-6">
      <label for="tutorValue">Subject List:</label>
      <select class="form-control" id="sel2">
      <option class = "hi" value = 0></option>
          {{#each availSubject}}
            <option class = "hi" value = {{id}}>{{subjectName}}</option>
          {{/each}}
      </select>
    </div>

</div> {{!-- end .searchDropDowns --}}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Email Tutor</button> --}}
      </div>
    </div>
  </div>
</div>
<!-- search results  -->
  <div class="container-fluid searchResults">
      <div class="row tutorRow">
      <h4 class = "tutorHeader">Our awesome tutors:</h4> 

       {{#each availTutor}}
        <div class="container tutorThumbnailContainer col-xs-6 col-md-3 col-lg-3">
          <div class="thumbnail tutorThumbnail">
            <img src ="assets/img/tutor{{id}}.jpg"> 
            {{!-- <img src="http://placehold.it/500x500/EEE"> --}}
            <div class="tutorCaption">
             
                
                <h4 class = "capitalize tutorName">{{firstName}}</h4>
                <p>{{about}}</p> 
              
                
                <a href="#" class="btn btn-default btn-sm capitalize bookTutorBtn" role="button">Book {{firstName}}</a> 
                
            </div> {{!-- end caption --}}

          </div>{{!--  endTutorThumbnail --}}

        </div> {{!-- end tutorThumbnailContainer --}}
      {{/each}}
  
      
      </div> <!-- close .tutorRow div  -->


      <!-- Modal -->
            <div class="modal fade" id="myModal{{@index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">
                  Book a tutoring session with <span class="capitalize"> {{firstName}} {{lastName}}!</span> </h4>
                </div> {{!-- end modal-header --}}
                
                <div class="modal-body">

                  <div> <span class="capitalize"> {{firstName}} </span> is available at the following times: </div>
                  
                </div> {{!-- end modal-body --}}
                
                <div class="modal-footer">
                  <button type="button" class="closeBtn btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="closeBtn btn btn-primary">Submit request</button>
                </div> {{!-- end modal footer --}}
              </div> {{!-- end modal content --}}
            </div> <!--closes modal div -->
            
          </div>
  </div> {{!-- end searchResults --}}
  

<script src="assets/js/student.js"></script> 


</div> <!-- close container div  -->